<p>Hey <%= firstName %>,</p>
<p>Thanks for signing up! We're very excited to have you on board.</p>

<p>To get started, please confirm your account below:</p>
<p>
  <a href="<%= confirmationUrl %>">Confirm you account</a>
</p>

<p>
  If you're having trouble clicking the confirm account button, copy and paste
  the below URL into your web browser.
</p>

<a href="<%= confirmationUrl %>"><%= confirmationUrl %></a>
